body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  color: #333;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  padding: 10px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
  margin-left: 100 px;
  display: flex;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}
.header-links a {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
  transition: opacity 0.3s;
}
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.sign-in {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
}

.sign-in:hover {
  background-color: #333;
  color: #fff;
}

.sign-up {
  background-color: #02897a;
  color: #fff;
  border: none;
}

.sign-up:hover {
  background-color: #22daa9;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.product-container {
  max-width: 50%;
}

.product-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.product-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555;
}

.product-btns {
  display: flex;
  gap: 15px;
}

.product-primary-btn {
  background-color: #02897a;
  color: #fff;
  padding: 12px 25px;
  font-weight: bold;
  border: none;
}

.product-primary-btn:hover {
  background-color: #22daa9;
}

.product-secondary-btn {
  background-color: transparent;
  color: #007bff;
  padding: 12px 25px;
  border: 2px solid #007bff;
  font-weight: bold;
}

.product-secondary-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.product-img {
  max-width: 100%;
  height: auto;
}

.for {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  padding: 20px;
  background-color: #f9f9f9;
}

.for-container {
  max-width: 1200px;
  margin: 0 auto;
}

.for h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
}

.for-item {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.for-item-title {
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 200px;
}

.for-item-title :hover {
  transform: translateY(-10px);
}

.for-img {
  font-size: 36px;
  margin-bottom: 10px;
}

.for-item-title h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.for-item-title p {
  font-size: 14px;
  color: #666;
}

.for-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #02897a;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.for-btn:hover {
  background-color: #22daa9;
}

.about-section {
  display: flex;
  margin-bottom: 40px;
}
.about-section-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.about-text {
  flex: 1;
  padding: 20px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
  margin-bottom: 10px;
}
.about-text-sec {
  order: 2;
  flex: 1;
  margin-left: 40px;
  float: right;
}
.about-text-sec p {
  font-size: 16px;
  line-height: 1.5;
}
.about-text-sec h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.image-about {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-about img {
  max-width: 80%;
  height: auto;
}

.image-about-sec {
  order: 1;
  flex: 1;
  text-align: center;
  float: left;
}
.about-list {
  list-style: none;
  padding: 0;
}

.about-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.about-list li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.process {
  margin-right: 50px;
  display: flex;
  background: #fff;
  padding: 50px 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.process-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.process h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.process-description {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 40px;
  max-width: 700px;
  margin: 0 auto 40px;
}

.process-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.left {
  justify-content: left;
}

.right {
  justify-content: right;
}

.process-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.process-img {
  width: 150px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  border: 5px solid transparent;
  display: flex;
  align-items: center;
}

.process-img img {
  width: 100%;
  height: 150%;
  object-fit: cover;
}

.red-border {
  border-color: #ff3b3b;
}
.green-border {
  border-color: #00d084;
}
.purple-border {
  border-color: #a64db6;
}
.blue-border {
  border-color: #3d87e4;
}

.process-text {
  white-space: nowrap;
  background-color: #f3f4f6;
  color: #333;
  border-radius: 20px;
  padding: 12px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  max-width: 200px;
  text-align: center;
}

.process-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f3f4f6;
}

.process-button {
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-left: 410px;
  background: #00b894;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.process-button:hover {
  background: #019870;
}

.strategies {
  display: flex;
  text-align: center;
  padding: 50px 0;
  height: 400x;
}
.strategies-container {
  width: 90%;
  max-width: 990px;
  margin: 0 auto;
}

.strategies h2 {
  text-align: left;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.strategies-p {
  text-align: left;
}

.strategies p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

.strategies-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.strategies-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  text-align: left;
  transition: transform 0.3s;
}

.strategies-card:hover {
  transform: translateY(-5px);
}

.strategies-card img {
  width: 100%;
  height: auto;
}

.strategies-card-content {
  padding: 20px;
}

.strategies-card-content h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 0 0 10px;
}

.strategies-card-content h3:hover {
  color: #007bff;
}

.strategies-card-content p {
  color: #666;
  margin: 0 0 20px;
  font-size: 0.9rem;
}
.dot {
  margin-top: 50px;
  width: 10px;
  height: 10px;
  background-color: #007b65;
  border-radius: 50%;
  display: inline-block;
}
.price {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
}

.price-container {
  gap: 20px;
  max-width: 1200px;
  text-align: center;
  justify-content: center;
}
.price-title {
  text-align: center;
  margin-bottom: 90px;
}

.price-title h1 {
  font-size: 2em;
  color: #333;
  margin: 0;
}

.price-title p {
  font-size: 1em;
  color: #666;
  margin: 5px 0 40px;
}

.price-cards {
  display: inline-block;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  transition: transform 9s ease, box-shadow 0.3s ease;
}
.price-cards:hover {
  transform: translateY(-10px);
}

.featured {
  display: inline-block;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  transition: transform 9s ease, box-shadow 0.3s ease;
  background-color: #006d5b;
  color: #fff;
}
.featured:hover {
  transform: translateY(-5px);
}
.featured-btn {
  background: #007b65;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}
.featured-btn:hover {
  background: #fff;
  color: #006d5b;
}
.price-cards h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.price-cards p {
  font-size: 1em;
  margin: 10px 0;
}

.price-card {
  font-size: 3em;
  margin: 15px 0;
  color: inherit;
}

.price-features {
  margin: 20px 0;
  padding: 0;
}

.price-features li {
  list-style: none;
  margin: 5px 0;
}

.price-cards button {
  background: #007b65;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.price-cards button:hover {
  background: #fff;
  color: #006d5b;
}
